/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  text-align: center;
  width: 60%;
}

.box {
  display: flex;
  align-items: center;
  margin: 100px 0 200px;
}

footer {
  background-color: #222629;
  padding-top: 10px;
}

button[type="button"] {
  width: fit-content;
  border: none;
  border-radius: 30px;
}

/* UTILS */

.container {
  margin: 0 auto;
  width: 1080px;
  max-width: 100%;
}

/* HEADER */

/* UPPER HEADERS */

.upper-header {
  background-color: #255ee9;
  padding: 15px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.logo {
  padding: 5px 10px;
  width: 20%;
  max-width: 100%;
}

.link-list {
  padding: 5px;
  width: 100%;
  max-width: 100%;
}

.login {
  padding: 10px 15px;
  font-size: 1rem;
  max-width: 100%;
}

.link-item {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

/* BOTTOM HEADER */

.bottom-header {
  display: flex;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: white;
  min-height: 600px;
}

.header-title {
  font-size: 4rem;
  padding: 10px 0;
}

.header-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 35px;
  padding: 10px 0;
}

.header-button-section > button {
  font-size: 1.4rem;
}

.download-button:before {
  content: "\2193  ";
}

.download-button {
  padding: 18px;
}

.redirect-button {
  background-color: black;
  color: white;
  padding: 18px;
  margin: 0 10px;
}

/* MAIN */

.section-title {
  font-size: 2.8rem;
}

.section-description {
  font-size: larger;
}

.box:nth-child(even) > .container {
  flex-direction: row-reverse;
}

.box .container {
  display: flex;
  padding: 40px 0;
}

.big-column {
  width: 60%;
}

.small-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 40%;
  padding: 20px;
}

.big-section.box {
  display: flex;
  margin: 100px 0 0;
}

.big-section.box > .container {
  flex-direction: column;
}

div.text.container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.big-column:only-child {
  width: 100%;
}

.main-footer-box {
  padding: 50px;
  margin: 0 0 50px;
}

img[alt="stars-decoration"] {
  width: 60%;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer-button::before {
  content: "\2193  ";
}

.main-footer-title {
  font-size: 2rem;
}

.main-footer-button {
  color: white;
  background-color: #7289da;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 50px 0;
}

/* FOOTER */

/* BIG FOOTER */

.big-footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222629;
  padding-top: 50px;
}

footer > .container {
  padding: 10px 0;
}

.footer-small-column {
  width: 30%;
}

.footer-title {
  color: #7289da;
  font-size: 2rem;
  padding: 30px 0;
}

.language-selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.language-flag {
  height: 25px;
  max-width: 100%;
}

.language {
  color: white;
  vertical-align: middle;
  line-height: 25px;
}

.language::after {
  content: "\02C7";
}

.social {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.big-footer-box > .container {
  display: flex;
  min-height: 510px;
  padding: 30px 0;
}

.footer-big-column {
  display: flex;
  width: 70%;
}

.smaller-column {
  width: 25%;
}

.footer-subtitle {
  color: #7289da;
}

.footer-list {
  line-height: 40px;
  margin-top: 10px;
  color: white;
}

.footer-list-item {
  list-style-type: none;
}

/* SMALL FOOTER */

.small-footer-box {
  display: flex;
  align-items: flex-end;
  min-height: 100px;
  background-color: #222629;
}

.small-footer-box > .container {
  display: flex;
  align-items: flex-end;
  border-top: 2px solid #2f3854;
}

.small-footer-box > .container > .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-button {
  color: white;
  background-color: #7289da;
  padding: 10px 15px;
  font-size: 1rem;
}
